<div class="navigation-contianer">
  <div class="nav-logo">MFactory</div>
  <nav class="nav-items-contianer">
    <button
      class="nav-items-contianer__button"
      [ngClass]="{ 'activated-button': activatedNavs.aboutUs.activated }"
      routerLink="/about-us"
    >
      About Us
    </button>
    <button
      class="nav-items-contianer__button"
      [ngClass]="{ 'activated-button': activatedNavs.signIn.activated }"
      routerLink="/auth/sign-in"
    >
      Sign In
    </button>
    <button
      class="nav-items-contianer__button"
      [ngClass]="{ 'activated-button': activatedNavs.signUp.activated }"
      routerLink="/auth/sign-up"
    >
      Sign Up
    </button>
  </nav>
</div>

<router-outlet></router-outlet>
