@import './app/common/common.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Barlow Semi Condensed';
}

mat-form-field .mat-form-field-label {
  color: rgba(0, 0, 0, 0.54) !important;
}
